<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <title>Document</title>
</head>

<body>
      <form action="" method="post">
            <table border="2">
                  <%result.forEach(function(data){%>
                        <tr>
                              <td>
                                    Name
                              </td>
                              <td>
                                    <select name="name" id="">
                                          <option value="">--select--</option>
                                          <%user.forEach(function(data1){if(data.name==data1.name){%>
                                                <option value="<%= data.name%>" selected>
                                                      <%= data.name%>
                                                </option>
                                                <%}else{%>
                                                      <option value="<%= data.name%>" selected>
                                                            <%= data.name%>
                                                      </option>
                                                      <%}})%>
                                    </select>
                              </td>
                        </tr>
                        <tr>
                              <td>
                                    Task
                              </td>
                              <td>
                                    <input type="text" name="task" value="<%= data.task%>">
                              </td>
                        </tr>
                        <tr>
                              <td>
                                    Starting Date
                              </td>
                              <td>
                                    <input type="date" name="sdate" value="<%= data.sdate%>">
                              </td>
                        </tr>
                        <tr>
                              <td>
                                    Ending Date
                              </td>
                              <td>
                                    <input type="date" name="edate" value="<%= data.edate%>">
                              </td>
                        </tr>
                        <tr>
                              <td>
                                    Status
                              </td>
                              <td>
                                    <select name="status" id="">
                                          <option value="Pending">Pending</option>
                                          <option value="Start">Start</option>
                                          <option value="Running">Running</option>
                                          <option value="Complit">Complit</option>
                              </td>
                        </tr>

                        <tr>
                              <td>
                              </td>
                              <td><input type="submit" value="Save"></td>
                        </tr>
                        <%})%>
            </table>
      </form>
</body>

</html>